doctype html
html(lang="en")
    head
        include includes/head.pug
        +head('Articulos - FacilitoRetro')
    body(data-page="articles-page")
        .container-fluid
            .container
                header.head
                    include includes/cover.pug
                    include includes/menu.pug
                
                .body
                    h1 Articulos

                include includes/footer.pug
