doctype html
html(lang="en")
    head
        include includes/head.pug
        +head('FacilitoRetro')
    body.curses-page(data-page="communities-page")
        .container-fluid
            .container
                header.head
                    include includes/cover.pug
                    include includes/menu.pug
                
                .body
                    h1 Comunidades



                include includes/footer.pug