doctype html
html(lang="en")
    head
        include includes/head.pug
        +head('FacilitoRetro')
    body(data-page="index-page")
        .container-fluid
            .container
                header.head
                    include includes/cover.pug
                    include includes/menu.pug
                
                .slide
                    button.arrow.arrow-left <
                    button.arrow.arrow-right >
                    img(src="./../public/slide/slide-1.jpg", alt="")
                    .paragraph
                        h1 Aprende Java desde cero
                        button.seemore Ver Curso

                
                .body
                    .login
                        h2 Ingresa y aprende
                        .form.singin
                            form(action="")
                                .input-form
                                    label(for="email") Correo Electronico:
                                    input(type="email" id="email" name="email")
                                .input-form
                                    label(for="password") Contraseña:
                                    input(type="password", id="password" name="password")
                                .input-submit
                                    input(type="submit" value="INGRESAR")
                        include includes/index/tolearn.pug
                        include includes/index/specialties.pug



                    .body-container
                        h1 ¡HOLA DE PARTE DE CÓDIGOFACILITO!
                        .container-video
                            .video-youtube
                                iframe(src="https://www.youtube.com/embed/ywnkDldgkCA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
                        .actions
                            h2 Registrate y estudia con nosotros
                            button.create cuenta gratis
                            button.update Actualiza a premium
                        .curse
                            h3 Nuevos lanzamientos
                            p Estos son nuestros cursos mas recientes.
                            - var indexcurses = [['./../public/curses/sistema.jpg',"Crea un sistema de facturación"],['./../public/curses/html.jpg',"Aprende HTML desde cero"], ['./../public/curses/Facturacion.png',"Crea sitios web dinamicos con nodejs"]]
                            .row
                                each val in indexcurses
                                    include includes/curses/curse_card.pug
                                    +curse_card(val)

                include includes/footer.pug
