doctype html
html(lang="en")
    head
        include includes/head.pug
        +head('Talleres - FacilitoRetro')
    body(data-page="workshops-page")
        .container-fluid
            .container
                header.head
                    include includes/cover.pug
                    include includes/menu.pug
                
                .body
                    h1 Talleres

                include includes/footer.pug
