footer.container-fluid.footer
    .container
        .row
            .brand
                h1 Biblioteca Geek
            .social-media
                a(href="") 
                    i.fab.fa-facebook
                a(href="") 
                    i.fab.fa-twitter
                a(href="") 
                    i.fab.fa-youtube