header.container-fluid
    .container
        .logo
            img(src="https://yt3.ggpht.com/a-/AN66SAyncmpxu9V37sPGEel7ONJJeABJf1MOFTsCrg=s900-mo-c-c0xffffffff-rj-k-no")
        nav.menu
            a(href="/")
                i.fas.fa-home
                span Home
            a(href="/proyects.html")
                i.fas.fa-project-diagram
                span Proyectos
            a(href="/aboutme.html")
                i.fas.fa-address-card
                span Sobre Me
            a(href="/contact.html")
                i.fas.fa-envelope
                span Contacto