header.container-fluid
    .container
        nav.menu
            a(href="/")
                i.fas.fa-home
                span Home
            a(href="/proyects.html")
                i.fas.fa-project-diagram
                span Proyectos
            a(href="/aboutme.html")
                i.fas.fa-address-card
                span Sobre Me
            a(href="/contact.html")
                i.fas.fa-envelope
                span Contacto