.body-container
    .countdown
        h1 Proximo taller en vivo
        .count-down
            span.hour 00
            span.dobluepoint :
            span.minutes 00
            span.dobluepoint :
            span.seconds 00
        .workshop
            h2 Crear bots en mesenger
            img(src="./../public/curses/logica.jpg", alt="")

    .workshops
        each val in [1, 2, 3]
            .row
                include card_workshop.pug
                - var indexcurses = [['./../public/curses/testing.jpg',"Crea un sistema de facturación"],['./../public/curses/webapp.png', "Aprende HTML desde cero"], ['./../public/curses/sistema.jpg', "Aprende Java desde basico a avanzado"]]
                each val in indexcurses
                    +card_workshop(val)