mixin bigCardEvent
    .card-event-big
        img(src="./../public/concierto.jpg" alt="")
        .info-event
            .data
                p Martes 10 de marzo en CDM
                h3 Tiulo del evento
                p 2 personas interesada
            .interested
                button
                    i.far.fa-star
                    span Me interesa