mixin cardEvent
    .card-event
        img(src="./../public/concierto.jpg" alt="")
        .info-event
            .time
                p OCT
                p 8
            .data
                h3 Tiulo del evento
                p Martes 10 de marzo en CDMX
                p 2 personas interesadas
        .interested
            button
                i.far.fa-star
                span Me interesa
