footer.container-fluid
    .container
        .paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ratione minima ipsum quae, reiciendis autem quos vitae consectetur, et adipisci eius, nulla dolor animi nostrum voluptatem nobis eum dolorem. Provident?
        .socal-media
            h3 NextParty
            p contacto@nextparty.com
            .social
                a(href="")
                    i.fab.fa-facebook
                    span Facebook
                a(href="")
                    i.fab.fa-twitter-square
                    span Twitter