button.btn-menu
    i.fas.fa-bars
.container-fluid.header
    .container
        include menu.pug
        .welcome
            h1 Vive Disfrutando
            p La mejor musica en los mejores lugares del mundo totalmente a tu alcance.