mixin lineTimeCard(orientation)
    div(class = orientation)
        .card-time-header
            .time 18
            .title-subtitle
                p primera noche
                h3 PARIS FRANCIA
        p.paragraph Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta recusandae suscipit dignissimos, aut officia, fugiat pariatur voluptates dolores animi ducimus architecto repudiandae sint quo veritatis? Temporibus corporis fugiat iste nulla.
        figure
            img(src="./../public/relax.jpg" alt="")
