mixin listCardEvent
    .card-event-list
        img(src="./../public/concierto.jpg" alt="")
        .info-event
            .data
                h3 Tiulo del evento
            .interested
                button
                    i.far.fa-star
                    span Me interesa