.conateiner-nav
            .logo NextParty
            .menu
                nav
                    a(href='./') Inicio
                    a(href='./events.html') Eventos
                    a(href='./grantour.html') Gran Tour
                    a(href='./contact.html') Contacto