*{
	margin: 0;
	border: 0;
}

body{
	font-size: 16px;
	font-weight: normal;
	font-family: 'Roboto Condensed', sans-serif;
	overflow: hidden;
}

.riplle{
	position: absolute;
	width: 0px;
	height: 0px;
	border-radius: 50%;
	background: rgba(0,0,0,.1);
	transform: translate(-50%,-50%);
	transition: all 1s;
}

button{
	position: relative;
	overflow: hidden;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button#button_snackbar{
	display: flex;
	margin: auto;
	margin-top: 50vh;
	transform: translateY(-50%);
	padding: 10px 20px;
	border-radius: 2px;
	background: rgba(158,158,158,.2);
	color: #424242;
	font-size: 1.1em;
	font-weight: bold;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	transition: all 2s;

	&:hover{
		background: rgba(158,158,158,.2);
	}

	&:focus{
		outline: none;
		box-shadow: 0 0 8px rgba(0,0,0,.18), 0 8px 16px rgba(0,0,0,.36);
		background: rgba(158,158,158,.4);
	}

	&:active{
		outline: none;
		box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
		background: rgba(158,158,158,.4);
	}

	.ripple{
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(0,0,0,.1);
		border-radius: 50%;
		transform: translate(-50%,-50%);
	}
}






#snackbar {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 100%);
	width: 100%;
	width: 100%;
	max-width: 350px;
	margin: auto;
	transition: all .4s;
	background: #323232;

	.text{
		position: relative;
		left: 0;
		padding: 12px 14px 12px 24px;
		font-size: 1em;
		font-weight: bold;
		color: #FFF;
		line-height: 20px;
	}

	button{
		position: absolute;
		top: 0;
		right: 0;
		padding: 12px 24px 13px 14px;
		font-size: 1em;
		font-weight: bold;
		color: orange;
		background: #323232;
		text-transform: uppercase;
		letter-spacing: 0;
		text-align: center;
		transition: all .4s;
		&:focus, &:active{
			outline: none;
		}
	}
}

@keyframes ripple {
	0%{
		width: 0px;
		height: 0px;
	}

	97%{
		width: 250px;
		height: 250px;
	}

	100%{
		opacity: 0;
	}
}