!!!5
%html{class:"no-js",lang:"es"}
	%head
		%meta{charset:"UTF-8"}
		%title HomePage
		%link{rel:"stylesheet", href:"css/normalize.css"}
		%meta{content:"Aprende estudiando en la mejor escuela de internet.", name:"description"}
		%meta{content:"width=device-width, initial-scale=1", name:"viewport"}
		%link{href:"https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i", rel:"stylesheet"}
		%link{href:"https://fonts.googleapis.com/icon?family=Material+Icons", rel:"stylesheet"}
		%script{src:"dist/modernizr-2.8.3.min.js"}
		%link{rel:"stylesheet", href:"css/styles.css"}
		%script{src:"dist/app.js"}
	%body
		.content
			.main
				.important
					.start.box-shadow
						%h1 Biblioteca Geek
						%p Bienvenido, continua aprendiendo en nuestra comunidad de programadores, recuerda que para recibir todos los beneficion de la plataformaa iniciar sesion o crearte una cuenta
					.login.box-shadow
						%h2 Iniciar sesion
						.sign_in
							%form{name:"sign_in"}
								.input-group
									%input{type:"email", id:"email-sign-in", name:"email"}
									%label.label{for:"email-sign-in"} Correo
								.input-group
									%input{type:"password", id:"password-sign-in", name:"password"}
									%label.label{for:"password-sign-in"} Contraseña
								.input-chekbox
									%input{type:"checkbox", id:"mantener-activa--sesion", name:"activa"}
									%label{for:"mantener-activa--sesion"} No cerrar sesión
								.input-button
									%a{href:"#"} Ingresa con facebook
									%button{type:"submit"} Entrar
								%a.sign_up{href:"#"}O crea tu cuenta aqui
				.no-important.box-shadow
					.courses
						.header
							%a.botton{href:"#"} Ver mas
							%h3 Cursos
						.container
							.item
								%h4 Curso 1
							.item
								%h4 Curso 2
							.item
								%h4 Curso 3
					.articles
						.header
							%a.botton{href:"#"} Ver mas
							%h3 Articulos
						.container
							.item
								%h4 Articulo 1
							.item
								%h4 Articulo 2
							.item
								%h4 Articulo 3			
