- var especialitions = ['Movil', 'Web', 'Videojuegos', 'Base De Datos', 'Fundamentos', 'Lenguajes', 'Hadware', 'Herramientas'] 
.list
    h3 Categorias
    ul
        each val in especialitions
            li= val