article.curse-card
    .visual-curse
        figure
            img(src="./../public/webapp.png", alt="")
        .level.level-intermedia
            p Nivel Pricipiante
        a(href="") Empezar Curso
    .info-curse
        h2 Progresive Web Apps
        p.videos 
            span
                img(src="./../public/camara.svg", alt="") 
            span 35 Videos
        p.time
            span
                img(src="./../public/reloj.svg", alt="") 
            span 8 horas