mixin curse_card(image)
    article.curse-card
        .visual-curse
            figure
                img(src=image[0], alt="")
            .level.level-intermedia
                p Nivel Pricipiante
            a(href="") Empezar Curso
        .info-curse
            h2= image[1]
            p.videos 
                span
                    img(src="./../public/camara.svg", alt="") 
                span 35 Videos
            p.time
                span
                    img(src="./../public/reloj.svg", alt="") 
                span 8 horas