!!!5
%html{class:"no-js", lang:"es"}
	%head
		%title Estetica Michel

		%meta{charset:"UTF-8"}
		%meta{content:"width=device-width, initial-scale=1, maximum-scale=1", name:"viewport"}
		%meta{name:"keywords", content:""}
		%meta{name:"description", content:""}
		%meta{name:"author", content:"francisco hidalgo"}
		%meta{name:"owner", content:"Estetica Michel"}
		%meta{name:"robots", content:"index, follow"}
		
		%script{src:"dist/modernizr-2.8.3.min.js"}
		%link{rel:"stylesheet", href:"css/normalize.css"}
		
		%link{href:"https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i", rel:"stylesheet"}
		%link{href:"https://fonts.googleapis.com/icon?family=Material+Icons", rel:"stylesheet"}
		%link{rel:"stylesheet", href:"css/styles.css"}
		%script{src:"js/app.js"}

	%body
		%header
			%nav
				%ul
					%li
						%a{href:"#services"} Servicios
					%li
						%a{href:"#offers"} Ofertas
					%li
						%a{href:"#packages"} Paquetes
					%li
						%a{href:"#maps"} Ubicanos
					%li
						%a{href:"#"} Contacto
			.arrows
				%i.material-icons.arrow keyboard_arrow_left
				%i.material-icons.arrow keyboard_arrow_right
		.main-container
			.welcome
				.text-container
					.title
						%h2 Bienvenido
					.text
						%p A continuacion te mostraremos servicios y ofertas que te pueden interesar.
					.logo
						.first-part
							%i.material-icons content_cut
							%p Estetica
						.second-part
							%p Unisex Michel
					%a.button-down{href:"#services"}
						%i.material-icons.arrow keyboard_arrow_down
						%i.material-icons.arrow keyboard_arrow_down
						%i.material-icons.arrow keyboard_arrow_down
			.services#services
				%h2.title-services ¡Mira! estos son los servicios mas buscados
				.services-container
					-for i in 1..6
						%a.service{href:"#"}
							%figure
								%img{src:"img/img1.jpg", alt:"The Pulpit Rock"}
							.text-service
								%p.description Corte de pelo hombre mujer y niños
								%p.pricing Precio: $50
			.offers#offers
				%h3.title-offers ¡Mira! estos son los servicios mas buscados
				.offers-container
					-for i in 1..3
						%a.offer{href:"#"}
							%figure
								%img{src:"img/img2.jpg", alt:"The Pulpit Rock"}
							.text-offer
								%p.description En un corte llevate un planchado de cejas gratis
			.packages#packages
				%h3.title-packages ¡Mira! estos son los servicios mas buscados
				.packages-container
					-for i in 1..3
						%a.package{href:"#"}
							%figure
								%img{src:"img/img2.jpg", alt:"The Pulpit Rock"}
							.text-package
								%p.description.blod Paquete #{i}
								%p.description Peinado, Maquillaje y Uñas por solo $450
			.maps#maps				
				.text-betewn
					%h4.title-maps Ubicanos
					%button ¿Como llegar desde mi ubicacion?
				.map-container#map
			%footer
				%p © Todos los derechos reservados

			%script{src:"https://maps.googleapis.com/maps/api/js?key=AIzaSyBg1K0ojGvspU8oTO9Ktt2OOrRTE5iC0j8&callback=initMap"}
