@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
	letter-spacing: 2px;
}

html, body {
	font-size: 16px;
	background-color: #FFF;
	color: #525252;
}

.container-fluid, .container {
	width: 100%;
}

.container {
	max-width: 1200px; 
	margin: auto;
	padding: 1rem;
}

h1 {
	margin: 0;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

button {
	border: 0;
	border-radius: 3px;
	padding: 1rem;
	outline: none;
	background-color: transparent;
	cursor: pointer;
}

.btn-menu {
	position: fixed;
	bottom: 2.5rem;
	right: 1.5rem;
	display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
	height: 60px;
	border-radius: 50%;
	box-shadow: 0 0 16px -1px rgba(0, 0, 0, 0.5);
    background-color: rgba(21, 102, 145, 1);;
	outline: none;
    cursor: pointer;
	z-index: 200;
	i {
		color: #FFF;
		font-size: 1.75rem;
	}
}

.card {
	width: 95%;
	max-width: 200px;
	margin: auto;
	text-align: center;

	i {
		font-size: 2.5rem;
	}

	h2 {
		font-size: 1.5rem;
		margin: 1.5rem 0 1rem 0;
		color: #323232;
	}
	p {
		font-size: 1rem;
		line-height: 23px;
	}
}

.first-section, .pakages, .slide, footer {
	padding: 2rem 0;
}

.header {
	position: relative;
	min-height: 100vh;
	background-image: url('./../../../public/nextpartycover.jpg');
	background-position: center;
	background-size: cover;
	z-index: 1;

	&:before {
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(231, 2, 67, 0.4);
		z-index: -1;
	}

	.conateiner-nav {
		margin-top: 2rem;
		
		.logo {
			font-size: 1.5rem;
			font-weight: bold;
			text-align: center;
			letter-spacing: 5px;
			color: #FFF;
		}

		.menu {
			position: fixed;
			top: 0%;
			left: 0%;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100vh;
			background-color: #FFF;
			transform: scale(0);
			transition: transform 0.2s;
			z-index: 10;

			&.active {
				transform: scale(1);
			}

			nav {
				a {
					display: block;
					border-radius: 3px;
					margin: 20px;
					padding: 0.5rem 1rem;
					color: #323232;
					font-size: 1rem;
					text-transform: uppercase;
					transition: background-color 0.5s;
					text-align: center;

					&.active, &.active:hover {
						color: #FFF;
						background-color: rgba(231, 2, 67, 1);       
					}
					
					&:hover {
						background-color: rgba(21, 102, 145, 0.5);
						color: #FFF;
					}
				}
	
			}

		}


	}

	.welcome {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 80%;
		max-width: 400px;
		margin: auto;
		transform: translate(-50%, -50%);
		color: #FFF;
		text-align: center;
		
		h1 {
			font-size: 2rem;
			margin-bottom: 1.5rem;
			letter-spacing: 5px;
		}
		
		p {
			font-size: 1.2rem;
		}
	}
}

.first-section {
	.paragraph {
	  max-width: 400px;
	  margin: auto;
	  font-size: 1.1rem;
	  text-align: center;
	  line-height: 25px;
	}
}

.pakages {
	.row {
		.card {
			margin: 40px auto;
			&:first-child {
				margin-top: 0;
				i { color: #e70243 }
			}
			
			&:nth-child(2) {
				i { color: #5EC8DB }
			}
			
			
			&:last-child {
				margin-bottom: 0;
				i { color: #ACC103 }
			}
		}
	}
}

.slide {
	.slide-container {
		margin: auto;
	  
	  
		.paragraph {
			margin-bottom: 2rem;
			
			h3{
				font-size: 1.5rem;
				color: #323232;
			}
			
			h4 {
				font-size: 1.2rem;
				font-weight: normal;
				color: #424242;
			}
			
			p {
				margin-top: 1.25rem;
				color: #525252;
			}
		}
	  
	}
}

footer {
	background-color: #343134;

	.paragraph {
		margin-top: 2rem;
		color: #FFF;
		letter-spacing: 5px;
		text-align: center;
	}

	.socal-media {
		margin-top: 2rem;
		color: #FFF;
		text-align: center;

		h3 {
			display: block;
			font-size: 2rem;
		}

		.social {
			display: block;
			margin-top: 1rem;
			a {
				display: block;
				margin-top: 0.75rem;
				font-size: 1.1rem;
				color: #FFF;
			}
		}
	}
}

@media screen and (min-width: 720px) {
	.btn-menu { display: none }

	.first-section, .pakages, .slide, footer {
		padding: 3rem 0;
	}

	.header {
		.conateiner-nav {
			max-width: 1000px;
			margin: auto;
			margin-top: 2rem;
			font-size: 0;
			letter-spacing: 0;

			* {
				display: inline-block;
			}
			
			.logo {
				width: 25%;
				text-align: left;
			}
	
			.menu {
				position: static;
				display: inline-block;
				width: 75%;
				height: auto;
				transform: scale(1);
				background-color: transparent;
				text-align: right;

				nav {
					a {
						display: inline;
						margin: 0;
					}
				}
			}
		}
	}

	.pakages {
		.row {
			display: flex;
			justify-content: space-between;
			max-width: 1000px;
			margin: auto;

			.card {
				margin: 0 auto;
				margin: unset;
			}
		}
	}

	.slide {
		.slide-container {
			max-width: 1000px;
			margin: auto;
			font-size: 0;
			letter-spacing: 0;
			
			* {
				display: inline-block;
				vertical-align: top;
			}
			
			.paragraph {
				width: 35%;

				* { padding-right: 1rem; }

				p {
					font-size: 1rem;
				}
			}
			
			img {
				width: 65%;
			}
		}
	}

	footer {

		.container {
			font-size: 0;
			letter-spacing: 0;

			* {
				display: inline-block;
				vertical-align: top;
			}

			img {
				width: 30%;
			}

			.paragraph {	
				width: 35%;
				margin-top: 0;
				margin-left: 15%;
				padding: 0 1.5rem;
				font-size: 1rem;
				letter-spacing: 2px;
			}

			.socal-media {
				width: 35%;
				margin-top: 0;
				margin-right: 15%;
			}
		}
	}

}

// Pagina de eventos

.card-event, .card-event-big, .card-event-list {
	width: 90%;
	max-width: 300px;
	border: 1px solid #dddfe2;
	border-radius: 2px;
	margin: auto;
	margin-top: 2rem;
	font-size: 0;
	letter-spacing: 0;
	overflow: hidden;
	
	&:first-child { margin-top: auto; }
	
	.info-event {
		margin-top: 1rem;
		padding: 0 0.5rem;

		.time, .data {
			display: inline-block;
			vertical-align: top;
			font-size: 1rem;
		}
		.time {
			width: 20%;
			max-width: 50px;
			text-align: center;

			p:first-child { color: #e70243; }
			
			p:last-child {
				margin-top: 0.25rem;
				font-size: 1.5rem;
			}
		}
	
		.data {
			width: 80%;
			max-width: 250px;

			h3 {
				font-size: 1rem;
				color: #323232;
			}
			
			p {
				margin-top: 0.25rem;
				font-size: 0.8rem;
			}
		}
	}

	.interested {
		border-top: 1px solid #dddfe2;
		margin: 0.5rem;
		
		button {
			margin-top: 0.5rem;
			padding: 0.5rem 0.75rem;
			background-color: #156691;
			color: #FFF;
			text-transform: uppercase;
			span {
				font-size: 0.8rem;
			}
		}
	}

}

.card-event-big {
	max-width: 500px;
	margin-top: 2rem;
	padding-bottom: 1rem;

	&:first-child {
		margin-top: 0;
	}

	.info-event {
		font-size: 0;
		letter-spacing: 0;
		padding: 0;

		.data, .interested {
			display: inline-block;
			vertical-align: middle;
		}

		.data {
			width: 65%;
			max-width: unset;
			padding-left: 1rem;
		}

		.interested {
			width: 35%;
			border: 0;
			margin: unset;
			padding-right: 1rem;

			button {
				margin: auto;
			}
		}
	}
}

.card-event-list {
	width: 95%;
	max-width: 400px;
	
	img, .info-event {
		display: inline-block;
		vertical-align: top;
	}

	img {
		width: 40%;
	}

	.info-event {
		width: 60%;
		text-align: center;
	}
}

.events-header {
	min-height: unset;
	background-image: unset;
	&::before {
		content: unset;
	}

	.conateiner-nav {
		.logo {
			color: #525252;
		}

		.menu {
			a {
				color: #525252;
			}
		}
	}
}

.events-slide {
	margin-top: 2rem;

	.slide {
		display: flex;
		justify-content: flex-end;
		max-width: 1000px;
		margin: auto;
		background-color: #525252;
		background-image: url('./../../../public/feria.jpg');
		background-size: cover;
		background-position: center;
		box-shadow: 0 0 16px -2px rgba(0, 0, 0, 0.5);
		color: #FFF;
		.info {
			max-width: 350px;
			margin: auto;
			text-align: center;
			text-shadow: 0 0 25px rgba(255, 255, 255, 1);

			.time {
				font-size: 1.25rem;
				margin-bottom: 1rem;
			}

			.title {
				font-size: 1.75rem;
				margin-bottom: 0.4rem
			}

			.description, .descuento {
				font-size: 1rem;
			}

			.description {
				margin-bottom: 0.25rem
			}
		}
	}
}

.events {
	.events-container {

		.row {
			margin-top: 2rem;
		}
	}
}

.another-events {
	.container-another {

		.list-cards {
			margin-top: 2rem;

		}

	}
}

.events-footer {
	margin-top: 2rem;
}

@media screen and (min-width: 720px){
	.events {
		.events-container {
			max-width: 1000px;
			margin: auto;

			.row {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				.card-event {
					margin: unset;
					
					&:last-child { display: none; }

				}
			}
		}
	}

	.another-events {
		margin-top: 2rem;

		.container-another {
			max-width: 1000px;
			margin: auto;
			font-size: 0;
			letter-spacing: 0;

			.list-cards, .big-cards {
				display: inline-block;
				vertical-align: top;
			}

			.list-cards {
				width: 44.4%;
				margin-top: 0;

				.card-event-list {
					margin-right: 0;
				}
			}

			.big-cards {
				width: 55.6%;

				.card-event-big {
					margin-left: 0;
				}
			}
		}
	}
}

@media screen and (min-width: 1000px){
	.events {
		.events-container {
			.row {
				.card-event {			
					&:last-child { display: block; }
				}
			}
		}
	}

	.another-events {
		.list-cards {
			width: 450px;
		}

		.big-cards {
			width: 550px;
		}
		
	}

}

// Pagina del grantour

.card-line {
	position: relative;
	width: 100%;
	max-width: 400px;
	max-height: 506px;
	border: 1px solid #dddfe2;
	margin: auto;
	margin-top: 2rem;
	box-shadow: 0 0 16px -2px rgba(0, 0, 0, 0);

	.card-time-header {
		padding: 1rem;
		background-color:#ACC103;

		.time,  .title-subtitle {
			display: inline-block;
			vertical-align: top;
			height: 50px;
		}

		.time {
			width: 50px;
			height: 50px;
			background-color: #859304;
			color: #FFF;
			text-align: center;
			padding-top: 0.5rem;
			font-size: 2rem;
		}

		.title-subtitle {
			padding-top: 0.25rem;
			padding-left: 0.5rem;
			text-transform: uppercase;
			color: #FFF;

			p {
				padding-top: 0.25rem;
				font-size: 0.8rem;
			}
		}
	}

	.paragraph, figure {
		padding: 1rem;
	}

	figure {
		padding-top: 0;
	}

}

.line-time {
	.line-time-container {
		position: relative;
		max-width: 1000px;
		margin: auto;
		padding-bottom: 2rem;

		.card-line {
			&:nth-child(2), &:nth-child(5), &:nth-child(8) {
				.card-time-header{
					background-color: #5EC8DB;
					.time { background-color: #418b99; }
					&:before { border-color: transparent #5EC8DB }
				}

			}
			
			&:nth-child(3), &:nth-child(6), &:nth-child(9) {
				.card-time-header{
					background-color: #E70243;
					.time { background-color: #a0012e; }
					&:before { border-color: transparent #E70243 }
				}
			}	
		}
	}
}

@media screen and (min-width: 720px){
	.card-line { 
		width: 42%; 
		margin: unset;
		&:nth-child(even) {
			margin-top: 7rem;
		}

		&:first-child {
			margin-top: 2rem;
		}
	}

	.card-line-left {
		.card-time-header {
			position: relative;	
	
			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: -30px;
				border-style: solid;
				border-width: 40px 0px 40px 50px;
				border-color: transparent #ACC103;
			}
		}
	}
	
	.card-line-rigth {
		.card-time-header {
			position: relative;	
	
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: -30px;
				border-style: solid;
				border-width: 40px 50px 40px 0px;
				border-color: transparent #ACC103;
			}
		}	
	}

	.line-time {
		margin-top: 4rem;
		.line-time-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			&:before {
				content: '';
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				width: 5px;
				height: 100%;
				background-color: #929292;
			}
		}
	}
}


// Pagina de contacto

.input-form {
	margin-bottom: 2rem;
	
	label, input, textarea {
		display: block;
		width: 100%;
	}

	label {
		font-size: 0.9rem;
		color: #424242;
	}

	input, textarea {
		margin-top: 0.5rem;
		border: 0;
		border-bottom: 1px solid #525252;
		padding: 0.25rem;
		font-size: 1rem;
	}

	textarea {
		height: 200px;
		border: 1px solid #525252;
		resize: none;
	}
}

.input-send {
	text-align: center;

	input {
		display: block;
		width: 100%;
		border: 0;
		border-radius: 3px;
		padding: 1rem;
		background-color: #E70243;
		color: #FFF;
		font-size: 1rem;
		text-transform: uppercase;
		cursor: pointer;
	}
}

.contact {
	margin: 2rem 0;

	h2 {
		text-align: center;
		color: #323232;
		font-size: 1.25rem;
	}

	.form-container {
		max-width: 500px;
		border: 1px solid #dddfe2;
		margin: auto;
		margin-top: 3rem;
		padding: 1.5rem;

		&.sended {
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 522px;
		}

	}
}

@media screen and (min-width: 720px){
	.contact {
		margin: 4rem 0;
	}
}