.body-container
    .search
        label(for="") Buscar
        input(type="text")
    .posts
        include card_post.pug
        - var indexcurses = ['./../public/curses/sistema.jpg', './../public/curses/html.jpg','./../public/curses/Facturacion.png', './../public/curses/webapp.png','./../public/curses/computer.jpg', './../public/curses/testing.jpg','./../public/curses/seo.png','./../public/curses/cursojava.svg','./../public/curses/logica.jpg']
        each val in indexcurses
            +card_post(val)
.login
    h3 No te lo pierdas
    include card_post_recomend.pug
    - var indexcursestwo = ['./../public/curses/html.jpg','./../public/curses/seo.png','./../public/curses/Facturacion.png', './../public/curses/computer.jpg', './../public/curses/testing.jpg','./../public/curses/cursojava.svg', './../public/curses/sistema.jpg','./../public/curses/logica.jpg','./../public/curses/webapp.png']
    each val in indexcursestwo
        +card_post_recomend(val)
