mixin card_post(e)
    .card-post
        .image
            img(src=e, alt="")
        .post
            .targets
                button.target Hearamientas
            h3.title Lorem ipsum dolor sit amet consectetur adipisicing 
            .aouthur
                p
                    span Por
                    span Jose Antonio Martinez
                    span 13-10-2018
            p.description Si siempre haz soñado con tener tu propio emoji que sea totalmente parecido a ti, Google Gboard te ofrece la oportunidad de hacerlo.