mixin card_post_recomend(e)
    .card-post-recomend
        img(src=e, alt="")
        h4.title Si quieres cuidar de tu privacidad, tapar la webcam no te ayudará
        .targets
            button.target Handware