@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import './modules/variables.scss';

@import './modules/frameworks/buttons_mdl.scss';
@import './modules/frameworks/form_mdl.scss';

@import './modules/items/calendar.scss';
@import './modules/items/menu.scss';
@import './modules/items/card_quotation.scss';
@import './modules/items/card_type_page.scss';
@import './modules/items/demo_page_index.scss';
@import './modules/items/demo_proyect.scss';
@import './modules/items/header_about_me.scss';
@import './modules/items/about_me_cv.scss';

@import './modules/proyects.scss';
@import './modules/aboutme.scss';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
}

html, body {
	font-size: 16px;
	overflow: hidden;
}

h1 {
	margin: 0;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

button {
	border: 0;
	border-radius: 3px;
	padding: 1rem;
	outline: none;
	background-color: transparent;
	cursor: pointer;
}

.fluid-container, .container {
	width: 100%;
}

.container {
	max-width: 1200px;
}

header {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 100;

	.logo {
		height: 0;
		overflow: hidden;
	}
}

.arrow-up, .arrow-down {
	position: fixed;
	bottom: 4rem;
	right: 1rem;
	width: 50px;
	height: 50px;
	box-shadow: 0 0 3px rgba($black, 0.5),
				0 0 6px rgba($black, 0.4);
	color: $black;
	font-size: 1.3rem;
	z-index: 10;
	transition: all 0.2s;
}

.arrow-up {
	bottom: 8rem;
	opacity: 0;

	&.show {
		opacity: 1;
	}
}

.arrow-down.hidden {
	opacity: 0;
}

.quotation-container, .type-page-container, .demo-index {
	position: relative;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.quotation-container {
	display: flex;
	align-items: center;
	background-image: url('/public/cotizacion.jpg');
	background-size: cover;
	background-position: center;

	.container {
		margin-top: -3rem;
	}
}

.type-page-container {
	background-color: $primary;
	overflow: hidden;
	transition: all 0.5s;

	&.show {
		top: -100vh;
	}

	.row, .col {
		width: 100%;
		height: 100vh;
	}

	.row {
		width: 78%;
		margin: auto;
	}

	.col {
		position: relative;
		display: flex;
		align-items: center;
		transition: all 0.25s;
		

		.card-type-page {
			margin: -3rem 0 0 0;
			background-color: $white;
		}

		&:nth-child(2) {
			top: -100%;
			transform: rotateZ(90deg);
			transform-origin: right bottom;
		}

		&:nth-child(3) {
			top: -200%;
			transform: rotateZ(-90deg);
			transform-origin: left bottom;
		}
	}

	.arrow-left, .arrow-right {
		position: absolute;
		top: 40%;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 35px;
		height: 35px;

		font-size: 1.5rem;
		cursor: pointer;
		
		&:before {
			position: absolute;
		}
		
	}

	.arrow-left{
		left: 0rem;
	} 
	
	.arrow-right {
		right: 0rem;
	}
}

.demo-index {
	top: 0vh;
	padding: 2rem 1rem;
	background-color: $white;
	overflow: scroll;
	transition: all 0.5s;

	&.show {
		top: -200vh;
	}

	.row {
		.demo_page_index {
			margin-bottom: 3rem;
		}
	}
}

.footer {
	display: none;
}

@media screen and (min-width: 680px) {
	header {
		background-color: $primary-dark;
	}
	
	.menu {
		width: 680px;
		margin: auto;
	}

	.type-page-container {

		.arrow-left, .arrow-right {
			display: none;
		}

		.row {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			width: 100%;
			padding: 3rem 0;

			.col {
				width: 30%;
				height: auto;

				&:nth-child(2) {
					top: 0%;
					transform: rotateZ(0deg);
				}
		
				&:nth-child(3) {
					top: 0%;
					transform: rotateZ(-0deg);
				}
			}
		}
	}

	.demo-index {
		display: flex;
		align-items: center;	

		.row {
			display: flex;
			justify-content: space-between;

			.demo_page_index:last-child {
				display: none;
			}
		}
	}
}

@media screen and (min-width: 780px) {
	html {
		overflow-y: scroll;
	}

	.container {
		padding: 0 1rem;
		margin: auto;
	}

	header, .quotation-container, .type-page-container, .demo-index  {
		position: static;
		width: auto;
		height: auto;
	}

	header {
		padding: 1rem 0;
		.container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
		}

		.logo {
			display: block;
			width: 50px;
			height: 50px;
			border-radius: 50%;
		}

		.menu {
			margin: unset;
			text-align: right;
		}

	}

	.arrow-down, .arrow-up {
		display: none;
	}

	.quotation-container {
		padding: 10rem 0;

		.container {
			margin: auto;
		}
	}

	.type-page-container {
		padding: 7rem 0;
		
		.row {
			justify-content: space-between;
			height: auto;
			padding: 0;
			
			.col {
				width: auto;

				.card-type-page {
					margin-top: 0;
				}
			}
		}
	}

	.demo-index {
		padding: 7rem 0;
		overflow: hidden;

		.row{
			justify-content: space-between;
			
			&:first-child {
				margin-bottom: 5rem;
			}

			.demo_page_index {
				width: 30%;
				margin: unset;
			}

			.demo_page_index:last-child {
				display: block;
			}
		}
	}

	.footer {
		display: block;
		padding: 5rem 0;
		background-color: $primary-dark;

		.row {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			align-items: center;
		}
	
		.brand h1, .social-media a {
			font-size: 2rem;
			color: $white;
		}

	}
}