.content-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
  background: #03a9f4;
	color: #FFF;
  box-shadow: 0 0 7px rgba(0,0,0,.5);
}

.bottom-menu, .bottom-search, .logo {
  position: absolute;
  top: 0;
  height: 50px;
  padding-top: 8px;
  font-size: 2em;
  cursor: pointer;
  box-sizing: border-box;
}

.bottom-menu {
  padding-left: 20px;
}

.logo {
  padding-top: 7px;
  left: 65px;
  font-weight: normal;
}

.bottom-search {
  background: #03a9f4;
  padding-left: 20px;
  right: 20px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  max-width: 280px;
  height: 100vh;
  background: #FFF;
  transform: translateX(-100%);
  transition: all .5s;
  z-index: 2000;
}

.background-dark {
  position: fixed;
  top: 0;
  left0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transform: scale(0);
  transition: all .03s;
  z-index: 1000;
}
