$primary-color: #E91e63;
$primary-color-darck: #C2185B;
$second-color: #3F51B5;
$second-color-darck: #303f9f;

*{
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-size: 16px;
	font-weight: normal;
	font-family: 'Roboto Condensed', sans-serif;
}

h1{
	margin: 0;
}

a{
	text-decoration: none;
	color: #000;
	font-size: 1em;
}

input{
	&:focus, &:active{
		outline: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	}
}

/*Helpers*/
.box-shadow{
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	border-radius: 2px;
}

button, .botton{
	position: relative;
	display: flex;
	padding: 10px 20px;
	border-radius: 2px;
	background: rgba(158,158,158,.2);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	color: #424242;
	font-size: 1.1em;
	font-weight: bold;
	overflow: hidden;
	transition: all .5s;	
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	&:hover{
		background: rgba(158,158,158,.2);
	}
	&:focus{
		outline: none;
		box-shadow: 0 0 8px rgba(0,0,0,.18), 0 8px 16px rgba(0,0,0,.36);
		background: rgba(158,158,158,.4);
	}
	&:active{
		outline: none;
		box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
		background: rgba(158,158,158,.4);
	}
}

.ripple{
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.3);
	border-radius: 50%;
	pointer-events: none;
	transform: translate(-50%,-50%);
}

@keyframes ripple {
	0%{
		width: 0px;
		height: 0px;
	}
	97%{
		width: 250px;
		height: 250px;
	}
	100%{
		opacity: 0;
	}
}

.content{
	background: url(../img/fondo.jpg);
	opacity: .95;
	background-size: cover;
	background-position: center 0;
	background-repeat: no-repeat;
	padding-bottom: 15px;
}

.main{
	width: 90%;
	max-width: 900px;
	margin: auto;
}

.important{
	margin-bottom: 20px;
	padding: 20px 0;
	border-bottom: 2px solid #FFF;
	.start{
		background: #FFF;
		padding: 15px;
		margin-bottom: 20px;
		h1{
			font-size: 2.1em;
			font-weight: normal;
			color: #222;
			padding-bottom: 10px;
		}
		p{
			font-size: 1.1em;
			font-weight: bold;
			color: #424242;
		}
	}

	.login{
		background: #FFF;
		padding: 15px;
		h2{
			font-size: 1.7em;
			font-weight: normal;
			color: #222;
			text-align: center;
			padding-bottom: 7px;
		}
		.sign_in{
			width: 100%;
			.input-group, .input-chekbox, .input-button{
				position: relative;
				width: 100%;
			}
			.input-group{
				input{
					width: 100%;
					background: none;
					padding: 25px 5px 5px 5px;
					border-bottom: 2px solid $primary-color;
					font-size: 1.1em;
					font-weight: normal;
					color: #222;	
				}

				label{
					position: absolute;
					margin-top: -30px;
					margin-left: 10px;
					font-size: 1.2em;
					font-weight: bold;
					color: $second-color-darck;
					transition: all .4s;
					&.active-label{
						margin-top: -48px;
						margin-left: 3px;
						font-size: .8em;
						opacity: .8;
					}
				}
				&.error{
					input{
						border-bottom: 2px solid red;
					}

					label{
						color: red;
					}
				}
			}

			.input-chekbox{
				padding: 35px 0 20px 0;
				input{
					display: none;
					&:checked + label{
						background: $second-color;
						padding: 10px 20px 10px 20px;
						color: #FFF;
						&:before{
							display: none;
						}
					}
				}

				label{
					position: relative;
					padding: 10px 20px 10px 55px;
					border-radius: 2px;
					font-size: 1.2em;
					font-weight: bold;
					text-align: center;
					color: $second-color;
					transition: all .4s;
					cursor: pointer;
					&:before{
						content: '';
						position: absolute;
						top: 9px;
						left: 20px;
						width: 20px;
						height: 20px;
						border-radius: 50%;
						border: 3px solid $second-color;
					}
				}
				&.error-checked{
					label{
						color: rgb(211, 47, 47);
						background: rgba(211, 47, 47, .1);
						&:before{
							border-color: rgb(211, 47, 47);
						}
					}
				}
			}
			.input-button{
				display: flex;
				justify-content: space-around;
				padding: 0 10px;
				margin-top: 8px;
				margin-bottom: 20px;
				font-size: 1.1em;
				font-weight: bold;
				a{
					display: flex;
					align-items: center;
					text-align: center;
					color: $primary-color-darck;
				}
				button{
					background: $second-color;
					color: #FFF;
				}
			}

			a.sign_up{
				display: block;
				font-size: 1.05em;
				text-align: center;
				padding: 10px 20px;
				background: $primary-color;

				color: #FFF;
			}
		}
	}
}

.no-important{
	background: #FFF;
	.courses, .articles{
		margin-bottom: 25px;
		.header{
			width: 250px;
			max-width: 850px;
			margin: auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 15px;
			padding: 10px 0px 0px 0px;
			a{
				display: inline;
				background: $second-color-darck;
				color: #FFF;

			}
			h3{
				padding: 10px 20px;
				color: #444;
				border-radius: 2px;
			}
		}

		.container{
			display: flex;
			flex-wrap: wrap;
			.item{
				width: 250px;
				height: 200px;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: auto;
				margin-bottom: 10px;
				border: 2px solid #ddd;
				border-radius: 2px;
			}
		}
	}
	.articles{
		padding-bottom: 5px;
	}
}

@media screen and (min-width: 575px){
	.no-important{
		.courses, .articles{
			.header{
				width: 100%;
			}
		}	
	}
}

@media screen and (min-width: 900px){
	.important{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-left: 25px;
		margin-right: 25px;
		.start, .login{
			width: 45%;
			height: 368px;
			margin-bottom: 0;
		}

		.start{
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-left: 40px;
			padding-right: 40px;
		}
	}


	.no-important{
		margin-left: 25px;
		margin-right: 25px;
		.courses, .articles{
			.header{
				padding: 10px 15px 0px 15px;
			}
		}
	}
}

.firefox{
	.input-group{
		label{
			margin-top: 0px !important;
			margin-left: 0px !important;
			top: 20px !important;
			left: 10px !important;
			&.active-label{
				top: 2px !important;
				left: 3px !important;
				margin-top: 0px !important;
				margin-left: 0px !important;
			}
		}
	}
}