.cv
    .container-buttons
        .buttons
            button.mdl-btn.mdl-btn-text.mdl-ripple.btn-description(data-ripple="dark")
                i.fas.fa-address-book 
                span Descripcion
            button.mdl-btn.mdl-btn-text.mdl-ripple.btn-education(data-ripple="dark")
                i.fas.fa-graduation-cap 
                span Educacion
            button.mdl-btn.mdl-btn-text.mdl-ripple.btn-skills(data-ripple="dark")
                i.fas.fa-skull 
                span Habilidades
    .row
        .card-cv.description
            h2 Descripcion
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate necessitatibus velit impedit est! Doloremque dicta iure, vitae nesciunt modi tempora facere exercitationem? Doloribus sunt earum nobis quas inventore nemo reprehenderit! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam, minus alias perferendis quisquam qui dolorum modi nam error porro rem. Ad officiis sed ipsam nam ducimus quasi vero ut voluptas.
        .card-cv.education
            h2 Educacion
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus ducimus, ipsam quae eum nisi aliquid amet? Porro amet nam fuga, aut reprehenderit, id modi suscipit nesciunt, delectus facere voluptatum facilis?
        .card-cv.skills
            h2 Habilidades
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa, animi. Cumque sit veniam odit harum! Inventore unde quia, explicabo corporis, asperiores quasi aliquid iure voluptas distinctio, temporibus culpa. Repellendus, recusandae.
        .card-cv
            h2 Hobbies
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores soluta reiciendis, consectetur error numquam dicta iure exercitationem. Cum laborum dolorum possimus obcaecati. Ea hic, error magnam quibusdam tenetur officiis fuga.
        