.card-type-page
    h3 Pagina Estatica
    ul
        li Diseño Personalizado
        li Tiempo de entrega mas rapido
        li URL Personalizada
        li Mejor Seguridad Con HTTPS

    button.mdl-btn.mdl-outline.mdl-ripple(data-ripple="dark") Crear Cotización 