.container-form
    form(id="quotation-form").form-mdl
        .input-form
            input(type="text" id="name" name="name")
            label(for="name") Nombre
        .input-form
            input(type="email" id="email" name="email")
            label(for="email") Correo
        .textarea-form
            label(for="message") Mensaje
            textarea(id="message" name="message")
        .input-send 
            button.mdl-btn.mdl-rised.mdl-ripple Enviar Mensaje 