.demo-proyect
    img(src="/public/demo.jpg", alt="")
    .description
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quas perspiciatis pariatur obcaecati sit quasi repellat repellendus quia excepturi accusamus ullam molestiae ut, saepe a earum fugiat. Itaque, blanditiis porro.
    .container-button
        button.mdl-btn.mdl-rised.mdl-ripple Ver Demo