.header-about-me
    .name-and-title
        img(src="/public/my-profile.jpg", alt="")
        h1 Francisco Gustavo
        h3 Desarrollador Web
        button.mdl-btn.mdl-unelevated.mdl-ripple Contacto
    .contact
        p
            i.fas.fa-at
            span hidalgofco520@gmail.com
        p
            i.fas.fa-phone
            span +52 55-26-32-68-96