- var especialitions = ['Desarrollo Androind', 'Desarrollo en Ruby on Rails', 'Desarrollo Frontend', 'Desarrollo en JavaScript', 'Desarrollo Backend', 'Desarrollo PHP', 'Desarollo Python', 'Desarrollo en Angular', 'Desarrollo en Java'] 
.list
    h3 Especialidades
    ul
        each val in especialitions
            li= val