.header {
  position: fixed;
  top: 0;
  left: 0;
  background: #af0039;
  height: 50px;
  box-shadow: 0px 2px 5px rgba(0,0,0,.16), 0px 2px 10px rgba(0,0,0,.12);
}

.container {
  background-color: transparent;
}

.navigation ul { list-style-type: none; }

.navigation {
  position: absolute;
  top: 50px;
  left: -100%;
  width: 100%;
  height: 100vh;
  background: #37464f;
  transition: all .5s;
}

.padding-top { padding-top: 70px; }

.item { font-size: 1rem; text-align: center; }

.card {
  background: #37464f;
	display: inline-block;
	padding: 1rem;
	border-radius: 2px;
  width: 100%;
	max-width: 200px;
  height: 300px;
  box-shadow: 0px 2px 5px rgba(0,0,0,.16), 0px 2px 10px rgba(0,0,0,.12);
  text-align: left;
}

.card a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.card p {
  color: #FFF;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

 .border-botton {
   border-bottom: 1px solid #ccc;
 }

 .data { text-align: center; }
 .data p:nth-child(1){ border-bottom: 1px solid #ccc;}

.button {
  position: fixed;
  bottom: 10vh;
  right: 10vw;
  width: 60px;
  height: 60px;
  font-size: 2.5rem;
  border-radius: 50%;
  border: 0;
  color: #FFF;
  background: #af0039;
  box-shadow: 0px 2px 5px rgba(0,0,0,.16), 0px 2px 10px rgba(0,0,0,.12);
  transition: all 0.5s;
}

.sale {
  position: fixed;
  background: #fff;
  bottom: 0vh;
  right: 0vw;
  transform: scale(0);
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  border-radius: 0;
}

.ripple-in, .ripple-out {
	animation: rippleIn 255ms;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.4,0.0,0.2,1);
}

@keyframes rippleIn {
	0%{
		transform: scale(0);
		border-radius: 50%;
		opacity: 0;
	}

	40%{
		border-radius: 50%;
	}

	100%{
		transform: scale(1);
		border-radius: inherit;
		opacity: 1;
	}
}


 @media screen and (min-width:30em) {
   .data { text-align: left; }
   .data p:nth-child(1){ border-bottom: 0px; }
   .data p {
     display: inline;
     border-bottom: 0;
     padding: 0 1rem;
   }
   .data p:nth-child(2) {
     padding-left: 1rem;
     border-left: 1px solid #ccc;
   }
 }

.form-container {
  width: 90%;
  max-width: 500px;
  margin: auto;
}

.item-form, .last-item {
    padding: 1rem;
    border-bottom: 1px solid #000;
}

.last-item {
  border-bottom: 0;
  display: flex;
}

 .input-form {
 	position: relative;
 	padding-top: 12px;
 }

 .input-form input {
 	width: 100%;
 	border: none;
 	padding: 8px 0px;
 	border-bottom: solid 1px #bdbdbd;
 }

 .input-form input:focus {
 	outline: none;
 }

 .input-form input:focus + label, .input-form input.non-empty + label {
 	font-size: 0.6em;
 	margin-top: -12px;
 }

 .input-form label {
 	position: absolute;
 	top: 14px;
 	left: 0px;
 	pointer-events: none;
 	width: 100%;
 	transition: all 0.2s;
 }

 .input-form label::after {
 	position: absolute;
 	content: "";
 	width: 100%;
 	left: 0%;
 	height: 1px;
 	background-color: currentColor;
 	visibility: hidden;
 	transform: scale(0);
 	bottom: -30px;
 	transition:  transform 0.15s cubic-bezier(0.4, 0.0, 0.2, 1);
 	transition-delay: 0.15s;
 }

 .input-form input:focus + label::after,
 .input-form input.non-empty + label::after {
 	transform: scale(1);
 	visibility: visible;
 }

 .input-form input:valid + label {
 	color: #1565c0;
 }

 .input-form input:invalid + label {
 	color: #d32f2f;
 }

 .input-form input:not(:focus):not(.non-empty) + label {
 	color: #bdbdbd
 }

.material-button {
     position:relative;
     display:-webkit-flex;
     display:-ms-flexbox;
     display:flex;
     padding:10px 20px;
     border-radius:2px;
     border: 0;
     background:rgba(158, 158, 158, 0.2);
     box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
     color:#424242;
     font-size:1.1em;
     font-weight:bold;
     overflow:hidden;
     transition:all .5s;
     -webkit-tap-highlight-color:transparent
 }
