.card-publication
    .card-header
        img(src="./../public/perfil.jpg", alt="")
        h3 @Frank_Tavoo
    .card-body
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere, voluptas quos quibusdam quo ipsa placeat aliquam. Eum voluptatibus soluta adipisci, placeat, obcaecati minima unde nobis dolore temporibus aliquid dicta recusandae!
    .card-footer
        button.like Me gusta
        button.to-comment Comentar