.about-me {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .row {
        width: 300%;
        height: 100%;
        padding-top: 1rem;
        font-size: 0;
        letter-spacing: 0;

        .card-cv {
            display: inline-block;
            vertical-align: top;
            width: 33.33%;
            height: 100%;
            padding-bottom: 8rem;
            font-size: 1rem;
            letter-spacing: 2px;
            overflow: scroll;

            &:last-child { display: none; }
        }
    }
}

@media screen and (min-width: 680px){

    .about-me {
        padding: 1rem;
        padding-bottom: 3rem;
        overflow: auto;

        .container {
            font-size: 0;
            letter-spacing: 0;
        }

        .row {
            width: 100%;
            height: auto;
            padding-top: 0;
            overflow: auto;

            .card-cv {
                display: block;
                width: 100%;
                padding-bottom: 1rem;
                overflow: auto;
                
                &:last-child { display: block; }

            }
        }
    }
}

@media screen and (min-width: 780px){
    .about-me {
        height: auto;
    }
}