.card-proyect {
    padding: 0 1rem;
    margin: auto;
    margin-bottom: 1.5rem;
    color: $white;

    h2, p {
        margin-bottom: 0.5rem;
    }

    a {
        display: block;
        margin-top: 0.5rem;
        padding: 0.5rem 1rem;
        border-radius: 3px;
        background-color: $secondary;
        color: $black;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }
}