.image-and-text {
    font-size: 0;
    letter-spacing: 0;
    figure, p,  .box-info  {
        display: inline-block;
        vertical-align: top;
        width: 45%;
    }

    p, .box-info {
        width: 55%;
        padding-left: 0.5rem;
        font-size: 0.8rem;
        letter-spacing: 2px;
    }

    .box-info {
        p { 
            width: 100%; 
            font-size: 1rem;

            &:first-child { 
                font-size: 1.1rem;
                margin-bottom: 0.5rem;
            }
        }
    }
}