.proyects-page {
    padding: 0rem 0 2.5rem 0;
    background-color: white;
    overflow: scroll;

    .card-proyect {
        background-color: $primary-light;
        color: black;
        padding: 1rem;
        margin-bottom: 2rem;
    }
}