.content {
  background: #FDFDFD;
  padding-top: 20px; }

.text {
  width: 90%;
  padding: 10px;
  max-width: 500px;
  margin: auto;
  margin-bottom: 15px;
  font-size: 1.5em;
  text-align: center; }

.main {
  max-width: 500px;
  margin: auto;
  padding: 20px 10px; }
  .main .facebook {
    display: block;
    width: 90%;
    max-width: 368px;
    margin: auto;
    margin-bottom: 20px;
    padding: 15px;
    background: #3F51B5;
    font-weight: bold;
    font-size: 1.2em;
    color: #FFF;
    text-align: center; }
  .main .sign_up {
    width: 90%;
    max-width: 368px;
    margin: auto; }
    .main .sign_up .input-group, .main .sign_up .input-chekbox, .main .sign_up .input-button {
      position: relative;
      width: 100%; }
    .main .sign_up .input-group input {
      width: 100%;
      background: none;
      padding: 25px 5px 5px 5px;
      border-bottom: 2px solid #E91e63;
      font-size: 1.1em;
      font-weight: normal;
      color: #222; }
    .main .sign_up .input-group label {
      position: absolute;
      margin-top: -30px;
      margin-left: 10px;
      font-size: 1.2em;
      font-weight: bold;
      color: #303f9f;
      transition: all .4s; }
      .main .sign_up .input-group label.active-label {
        margin-top: -48px;
        margin-left: 3px;
        font-size: .8em;
        opacity: .8; }
    .main .sign_up .input-group.error input {
      border-bottom: 2px solid red; }
    .main .sign_up .input-group.error label {
      color: red; }
    .main .sign_up .input-chekbox, .main .sign_up .input-radio {
      padding: 35px 0 20px 0; }
      .main .sign_up .input-chekbox input, .main .sign_up .input-radio input {
        display: none; }
        .main .sign_up .input-chekbox input:checked + label, .main .sign_up .input-radio input:checked + label {
          background: #3F51B5;
          padding: 10px 20px 10px 20px;
          color: #FFF; }
          .main .sign_up .input-chekbox input:checked + label:before, .main .sign_up .input-radio input:checked + label:before {
            display: none; }
      .main .sign_up .input-chekbox label, .main .sign_up .input-radio label {
        position: relative;
        padding: 10px 20px 10px 55px;
        border-radius: 2px;
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        color: #3F51B5;
        transition: all .4s;
        cursor: pointer; }
        .main .sign_up .input-chekbox label:before, .main .sign_up .input-radio label:before {
          content: '';
          position: absolute;
          top: 9px;
          left: 20px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 3px solid #3F51B5; }
      .main .sign_up .input-chekbox.error-checked label, .main .sign_up .input-radio.error-checked label {
        color: #d32f2f;
        background: rgba(211, 47, 47, 0.1); }
        .main .sign_up .input-chekbox.error-checked label:before, .main .sign_up .input-radio.error-checked label:before {
          border-color: #d32f2f; }
    .main .sign_up .input-radio {
      padding: 35px 0 0 0; }
    .main .sign_up .input-button {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      padding: 0 10px;
      margin-top: 8px;
      margin-bottom: 20px;
      font-size: 1.1em;
      font-weight: bold; }
      .main .sign_up .input-button a {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        color: #C2185B; }
      .main .sign_up .input-button button {
        background: #3F51B5;
        color: #FFF; }
    .main .sign_up a.sign_up {
      display: block;
      font-size: 1.05em;
      text-align: center;
      padding: 10px 20px;
      background: #E91e63;
      color: #FFF; }
