<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        title Document
    body(data-page='index')
        include includes/headerMenu.pug

        .container-box
            .buttons-bar-down
                button.arrow-left.fas.fa-chevron-left
                .bars
                    button
                    button
                    button
                button.arrow-right.fas.fa-chevron-right
            .container-fluid.slide
                .container
                    button.arrow-left.fas.fa-chevron-left
                    button.arrow-right.fas.fa-chevron-right
                    .text
                        h1 Biblioteca Geek
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi, facilis, consequuntur quod soluta quis voluptas ipsa cupiditate illum reprehenderit rerum repellendus odio perferendis eligendi vel cum nisi. Iure, ipsa accusamus.

            .container-fluid.proyects
                .container
                    .row
                        .card-proyect
                            h2 Titulo del proyecto
                            p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            a(href="") Ver

                        .card-proyect
                            h2 Titulo del proyecto
                            p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            a(href="") Ver

                        .card-proyect
                            h2 Titulo del proyecto
                            p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            a(href="") Ver

            .container-fluid.about-me
                .container
                    .row
                        .card-profile
                            h3 Desarrollador Frontend 
                            .image-and-text
                                figure
                                    img(src="/public/my-profile.jpg", alt="")
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur qui, omnis labore porro incidunt sunt eos vitae repellat recusandae veniam esse consectetur blanditiis quasi, illum aliquam.
                            
                        .video
                            .container-video
                                <iframe src="https://www.youtube.com/embed/vq20p_l-74c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            include includes/footer.pug
 

                    
