<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        title Document
    body(data-page='proyects')
        include includes/headerMenu.pug

        .fluid-container.demo-page
            .container
                .header
                    h2 Demos

                    .coniainer-buttons
                        button.mdl-btn.mdl-circle.mdl-circle-unelevated.mdl-ripple.fas.fa-arrow-left.arrow-left
                        button.mdl-btn.mdl-circle.mdl-circle-unelevated.mdl-ripple.fas.fa-arrow-right.arrow-right

                .row 
                    include includes/items/demo_proyect.pug
                    
                    include includes/items/demo_proyect.pug
                    
                    include includes/items/demo_proyect.pug
                
                
        .fluid-container.proyects-page
            .container 
                .header
                    h2 Diseños web

                    .coniainer-buttons
                        button.mdl-btn.mdl-circle.mdl-circle-unelevated.mdl-ripple.fas.fa-arrow-left.arrow-left
                        button.mdl-btn.mdl-circle.mdl-circle-unelevated.mdl-ripple.fas.fa-arrow-right.arrow-right

                .row

                    include includes/items/demo_proyect.pug
                    
                    include includes/items/demo_proyect.pug
                    
                    include includes/items/demo_proyect.pug

                    include includes/items/demo_proyect.pug
                    
                    include includes/items/demo_proyect.pug
                    
                    include includes/items/demo_proyect.pug

        .fluid-container.tools-page
            .container
                .info-text
                    h4 GridGeek
                    p   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero optio odio quam repellendus ea reprehenderit voluptatem. Repellendus, velit amet. Ea, perspiciatis obcaecati! Sint enim dolorum dolor saepe magnam soluta corporis.
                img(src='/public/grid.jpg')
                button.mdl-btn.mdl-rised.mdl-ripple Ver Codigo Fuente

        include includes/footer.pug