.headerimage
    .paragraph
        img(src="./../public/logo.png", alt="")
        h1 Programar es el futuro_
        p Aprende desde tu casa con más de 195 cursos online prácticos.
    img(src="./../public/cody.png", alt="")