footer
    img(src="./../public/logo.png", alt="")
    .box
        h4 Redes Sociales
        .social-media
            a(href="") Facebook
            a(href="") Twitter
            a(href="") YouTube
            a(href="") Google Plus
    .box 
        h4 CodigoFacilito © - Todos los derechos reservados