nav
    a(href="./") Inicio
    a(href="./curses.html") Cursos
    a(href="./workshops.html") Talleres
    a(href="./communities.html") Comunidades
    a(href="./articles.html") Articulos
    a(href="./profile.html") Mi Perfil